<div class="banner" style="background-image: linear-gradient(rgba(255,255,255,0.2),rgba(0,0,0,1)), url('https://res.cloudinary.com/ddkr8d6rd/image/upload/v1613858245/eujdpcdjrr8lif7t7j9h.jpg')">
  <div class="container">
  </div>
</div>
<div class="container hoome-container">
  <div class="cocktails d-flex justify-content-around flex-wrap mt-4 mb-4">
    <% @cocktails.each do |cocktail|%>
      <div class="card">
        <div class="card-head text-center">
          <h1><%= link_to cocktail.name, cocktail_path(cocktail)%></h1>
        </div>
        <div class="card-body">
          <ul>
            <% cocktail.doses.each do |dose| %>
              <li><%= dose.description %> - <%=dose.ingredient.name%></li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end -%>
  </div>
</div>


