.card {
	margin-bottom: 60px;
	width: 300px;
	height: 350px;
	padding: 16px 16px;
	border-radius: 5px;
	box-shadow: 3px 3px 3px rgba(0,0,0,0.4);
	background-size: cover;
	background-position: center;
	color: rgb(255,255,255);
	text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
	transition: 0.3s;

	ul {
		list-style: none;
		padding-left: 16px;
	}

	h4 {
		font-size: 16px;
	}

	h2 .head {
		color: rgb(255,255,255);
		text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
		&:hover {
			text-decoration: none;
		}
	}

	&:hover {
		box-shadow: 0 0 10px rgba(56, 96, 255, 0.8);
	 	transform: scale(1.06);
	}

	.card-link {
		text-shadow: 1px 1px 2px rgba(0,0,0,0.4);
	 	color: white;
	}
}